<h2>Adopt me!</h2>
          <div class="row">

  {{#each dog in model}}
          <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{dog.photo}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            {{#link-to 'dogs.show' dog}}
              {{dog.name}}
            {{/link-to}}
          <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#">Learn more about me!</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{dog.name}}'s Profile<i class="mdi-navigation-close right"></i></span>
          <p>Bio: {{dog.bio}}</p>
          <p>Breed: {{dog.breed}}</p>
          <p>Sex: {{dog.sex}}</p>
        </div>
        </div>
      </div>
          

  {{/each}}
    </div>
