<div class="row">
<h2 class="center">Help find {{model.name}} a home!</h2>

<ul>
  <li>{{model.age}}</li>
  <li>{{model.breed}}</li>
  <li>{{model.bio}}</li>

</ul>
</div>

  <form {{action "save" on="submit"}}>
    <div class="row">
      <div class="input-field col s4">
        <label>Name:
        {{input value = model.name class="validate"}}
        </label>
      </div>
      <div class="input-field col s4">
        <label>Age:
        {{input value = model.age class="validate"}}
        </label>
      </div>
      <div class="input-field col s4">
        <label>Breed:
        {{input value = model.breed class="validate"}}
        </label>
      </div>
      </div>
    <div class="row bio-input">
        <label class="input-field col s11">Bio:
        {{input value = model.bio class="validate"}}
        </label>
    </div>
     <div class="row">
     <div class="col s4">
     <h5>Sex:</h5>
     {{#md-radios
        selection=radioSelection 
        content=radioChoices
        optionValuePath='sex'
        optionLabelPath='text'}}

        <p> {{ md-radio value="male" name="Male" class="with-gap" }} </p>
        <p> {{ md-radio value="female" name="Female" class="with-gap" }} </p>

        {{/md-radios}}
      </div>
  <div class="col s4">
  <h5>Size:</h5>
     <p> {{ md-radio value="small" name="Small" class="with-gap" }} </p>
     <p> {{ md-radio value="medium" name="Medium" class="with-gap" }} </p>
     <p> {{ md-radio value="Large" name="Large" class="with-gap" }} </p>
 </div>
 <div class="col s4">
  <h5>Additional information:</h5>
    <p> {{ md-check name="Trained" checked=trained }} </p>
    <p> {{ md-check name="Child friendly" checked=child-friendly }} </p>
    <p> {{ md-check name="Animal friendly" checked=animal-friendly }} </p>
    <p> {{ md-check name="Spayed or Neutered" checked=spayed-or-neutered }} </p>
  </div>
</div>
   
  {{!--<div class="row">
  <h5>Upload an image:</h5>
    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>Image</span>
        <input type="file" />
      </div>
    </div>
  </div> --}}
  </form>
